server:
  port: 8080
spring:
  datasource:
    username: postgres
    password: "85395435Dg@"
    url: jdbc:postgresql://localhost:5433/search_engine
    hikari:
      maximum-pool-size: 96
      connection-timeout: 40000
  jpa:
    properties:
      hibernate:
        jdbc:
          batch_size: 50
        order_inserts: true
        order_updates: true
    hibernate:
      ddl-auto: none
    show-sql: false
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true
    drop-first: false
indexing-settings:
  sites:
#    - url: https://www.playback.ru
#      name: PlayBack.Ru
#    - url: https://dimonvideo.ru
#      name: DimonVideo.ru
#    - url: https://www.svetlovka.ru
#      name: Svetlovka.ru
    - url: https://sendel.ru
      name: Sendel.ru
search-engine:
  user-agent: MersinaSearchBot/1.0 (+https://example.com/bot)
  referrer: http://www.google.com
  waitingTime: 5s
  timeout: 3000
  maxDepth: 10
logging.level.root: INFO