version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: search-engine-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: search_engine
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "85395435Dg@"
    command: postgres -c 'max_connections=200'

    volumes:
      - db_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  db_data: